* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  background-color: #77808f;
  padding: 0;
  margin: 0;
}
