@import '../../styles/globals.scss';

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem auto 0 auto;
  max-width: 1200px;
}

.more-results-button {
  margin: 2rem auto;
  button {
    align-items: center;
    background-color: #e72a2a;
    border: none;
    border-radius: .4rem;
    color: #fff;
    display: flex;
    font-size: 1.6rem;
    height: 4rem;
    justify-content: center;
    width: 14rem;
  }
}
